{% if messages %}
        <div class="alert alert-success messages my-3">
            {% for message in messages %}
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </span>
            {% endfor %}
        </div>
{% endif %}

<h1>{{title}}</h1>


<form method="get" action="">
    <input type="text" name="search" placeholder="search">
</form>
{% for object in object_list %}
{#   <a href="{% url 'blog:detail id=object.id%}">{{ object.title}}</a>#}
{#     <a href="{% url 'blog:detail' id=object.id %}">{{ object.title }}</a>#}
     <a href="{{ object.get_absolue_url }}">{{ object.title }}</a>
<br>
{% endfor %}




